
body {
  margin:0;
  padding:0;
  width:100%;
  height: 100%;


}

.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}




#notiks {
   padding:.5em 0 1.2em;
   width: 90%;
   max-width: 1250px;
   background-color: #dee3e6;
   margin:0 auto;
}  

.notikswrapper {
   width: 85.15%;
   margin:0 auto;
}



.notiksheader { 
   margin-bottom: 1.25em;
}

.notiksheader h3 {
  margin: 25px 0 3px 0;
  color: #505050;
  letter-spacing: 1px;
  text-align: center;
  font-family: TMSans,sans-serif,monospace;
  font-size: 18px;
}

.notiksheader h4 {
  font-size: 18px;
  margin: 0 0 30px 0;
  color: rgba(51, 47, 47, 0.82);
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: normal;
  font-family: TMSans,sans-serif,monospace;
}







.notiksleft {
  width: 30%;
  background: #f6f7f9;
  display: inline-block;
  max-height: 108px;
  
}

.notiksright {
  width: 67%;
  display: inline-block;
  height: 108px;
  vertical-align: top;
  margin-right: 1.27em;
}

.notiksrow {
   display: block;
   max-height: 108px;
   background: #fafafa;
   box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.uno {
  
}

a {
  text-decoration: none;
}

a:focus, a:active {
  outline:none;
}

.dos, .tres {
   margin-top:1em;
  
}

.notiksrow:nth-child(1), notiksrow:nth-child(2) {
   margin-top:.75em;
}

.notiksrow p {
    color: rgba(58, 58, 58, 0.8);
    display: inline-block;
    text-align: left;
    padding: 1.8em 0;
    max-width: 60%;
    font-family: TMSans,sans-serif,monospace;
    font-size: 15.5px;
    letter-spacing: .25px;
    margin: 0 1.5em;
}

.notiksrow p br {
   line-height: 24px;
}

.notiksrow img {
   display: inline-block;
   max-width: 235px;
   height:auto;
   padding:1.5em;
}

.notiksrow br.level {
   margin-bottom: 10px;
}

.notiksrow button {
    float: right;
    background: #259be0;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: .35px;
    border: none;
    padding: 1em .75em;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2.2em;
    width: 200px;
}

@media only screen and (min-width:1070px ) and (max-width: 1210px) {
.notiksrow p {max-width: 55%;}
}


@media only screen and (min-width:310px ) and (max-width: 1069px) {

#notiks {
  width:100% !important;
}

.notikswrapper {
   width: 93.15%;
   margin:0 auto;
}  

.notiksrow {
    display: block;
    background: #fafafa;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);

}

.notiksrow.uno, .notiksrow.dos, .notiksrow.tres, .notiksright {
  width: 100%;
  max-height: none !important;
  height: auto;
}

.notiksrow .notiksleft {
  max-height: none !important;
  width: 100% !important;

}

.notiksleft {
    background: rgba(223, 228, 231, 0.25);
    padding:1em 0;
    
}

.notiksright {
    display: block;
    padding:0 0 1.5em;
    margin:0;
}

.notiksrow img {
    display: block;
    margin: 0 auto;
}

.notiksrow p {
    margin: 0 1.5em;
    max-width: none !important;
    display: inline-block;
    line-height: 1.35;

}

.notiksrow button {
    width: 90%;
    display: block;
    margin: 0 auto;
    float:none;
    font-size: 15px;
}

}














